<div class="container-login">
  <h1>アカウント編集</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= bootstrap_devise_error_messages! %>

    <div class="form-group">
          <%= f.label :name, "アプリ内の登録名"%>
          <%= f.text_field :name, autofocus: true,
                                  maxlength: "10",
                                  class: 'form-control',
                                  required: true,
                                  maxlength: '10' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true,
                        autocomplete: 'email',
                        class: 'form-control',
                        required: true,
                        maxlength: '100' %>
    </div>

    <div class="form-group">
      <%= f.label :image,"アイコン画像編集(任意)" , class: "login_input_btn"%>
      <%= f.file_field :image ,class: 'icon_form login_image_form'%>
    </div>


    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'new-password',
                           class: 'form-control',
                           maxlength: '30' %>

      <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'new-password',
                           class: 'form-control',
                           maxlength: '30' %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %>
      <%= f.password_field :current_password, autocomplete: 'current-password',
                           class: 'form-control',
                           required: true,
                           minlength: @minimum_password_length,
                           maxlength: '128' %>

      <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
    </div>

    <div class="form-group">
      <%= f.submit t('.update'), class: 'login_btn btn-primary btn-block text-white' %>
    </div>
  <% end %>
  <hr class="devise-link my-5">
  <div class="form-group">
    <%= link_to "トップページ", root_path, class: 'login_btn btn-info btn-block mb-4 text-white' %>
    <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: {confirm: 'アカウントを削除しますか？',cancel: 'やめる',commit: '削除'}, method: :delete, class: 'login_btn btn-danger btn-block text-white' %>
  </div>
</div>


