.form-group
  .post_video
    動画投稿
    %span.form-require 必須
  .post_video_preview
    = video_tag(@product.image_url.to_s, autoplay: true, muted: true, controls: true, preload: false, loop: true, class: "video-preview", id: "preview")
    = form.label :image ,"動画をアップロード", class: "image_input_btn"
    = form.file_field :image, accept: 'video/*', class: "image_form" ,onchange: 'previewImage(preview)'
    = form.hidden_field :image_cache
  %small.note
    ※ 動画はmp4の拡張子のみ投稿できます。こちらのサイトからmp4に変換できます。
    = link_to "mp4に変換",  "https://www.aconvert.com/jp/video/mov-to-mp4/",class: "video_site"
    %br/
    ※ 投稿できる動画のデータ最大要領は10MBまでです。
.form-group
  = form.label :title , class: "product_title" do
    ニックネーム
    %span.form-require 必須
  = form.text_field :title, placeholder: "ニックネーム(10文字以内)", class: "input-form"
.form-group
  = form.label :text do
    動画の説明
    %span.form-require 必須
  = form.text_area :text, placeholder: "動画の説明を500文字以内でご記入ください", rows: "5", class: "form_textarea"

-# ユーチューブの投稿
-# = form.label :youtube_url do
-#     動画投稿
-#     %span.form-require 必須
-#   = form.text_field :youtube_url, placeholder: "youtubeのURLを記載して下さい", class: "input-default"

-# 簡易videoプレヴュー表示
-# = video_tag(@product.image_url.to_s, autoplay: false, muted: true, controls: true, preload: true, width: 550) if @product.image && @product.image.url.to_s

