%header.header1
  %nav.navbar.navbar-expand.navbar-light.up
    = link_to "Penspinning Video", root_path, class: 'navbar-brand text-white font-weight-bold'
.header2
  %nav.navbar.navbar-expand.navbar-light.down
    %ul.navbar-nav.left__title
      - if user_signed_in?
        %li.nav-item.active
          = link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link text-white border text-align: right'
        %li.nav-item.active
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white border'
        %li.nav-item.active
          = link_to "マイページ", "/users/#{current_user.id}", class: 'nav-link text-white border'
        %li.nav-item.active
          = link_to  "投稿する", "/products/new", class: 'nav-link text-white border'
      - else
        %li.nav-item.active
          = link_to "新規登録", new_user_registration_path, class: 'nav-link text-white border'
        %li.nav-item.active
          = link_to "ログイン", new_user_session_path, class: 'nav-link text-white border'

  -# .header__bar.row
  -#   %h1.grid-6
  -#     %a{:href => "/"} Penspinning Videos
  -#   - if user_signed_in?
  -#     .user_nav.grid-6
  -#       %span
  -#         = current_user.name
  -#         %ul.user__info
  -#           %li
  -#             = link_to "マイページ", "/users/#{current_user.id}"
  -#             = link_to "ログアウト", destroy_user_session_path, method: :delete
  -#       = link_to  "投稿する", "/products/new", class: "post"
  -#   - else
  -#     .grid-6
  -#       = link_to "ログイン", new_user_session_path, class: 'post'
  -#       = link_to "新規登録", new_user_registration_path, class: 'post'


