.form
  = form_with(model: @product, local: true) do |form|
    %h2.form_title
      動画の投稿
    .main_post
      = render partial: "form", locals: { form: form }
      .form-group
        = form.label :pen_tyep_id do
          ペンの種類
          %span.form-require 必須
        %div
          .select-wrap
            = form.collection_select :pen_type_id, PenType.all, :id, :value, {prompt: "選択して下さい", selected: @product.id},class: "select-default"

      .post
        = form.submit "投稿",class: "form_submit_bottun"
      .post
        = link_to "戻る", root_path, class: "form_submit_bottun"

