= render "header"
-# = render 'shared/flash_messages'
.blank

%main.main
  .post
    - @products.each do |product|
      .post_video
        = video_tag(product.image_url.to_s, autoplay: true, muted: true, controls: true, preload: false, loop: true, class: "video-preview", id: "preview") if product.image?
      .post_content
        = product.pen_history.value
      .post_text
        = simple_format(product.text)
      .post_show
        = link_to '詳細', "/products/#{product.id}", method: :get


.blank
= render "footer"









-# -# youtubeの投稿
-# .content_post
-#   %iframe{src: "https://www.youtube.com/embed/#{product.youtube_url[32..42]}",allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "315", width: "560"}
