= render "header"
.blank
%main.main
  .show_main
    .content_show_main
      .content_show_top
        .show_main_left_top
          .show_main_icon
            .show_main_icon_left
              .show_main_icon_left_image
                = image_tag(@product.user.image.to_s, class: "show_icon_image")
            .show_main_name
              .show_main_name__top
                = @product.user.name
              .show_main_time__bottom
                .show_main__time__bottom--date
                = @product.created_at.strftime('%Y/%m/%d %H:%M:%S')
        .show_main_rigth_top
          .content_show_posts
            %table
              %tbody
                %tr
                  %th.tag_content
                    ペン回し歴
                  %td.neme_content
                    = @product.pen_history.value
          .content_show_posts
            %table
              %tbody
                %tr
                  %th.tag_content
                    ペンの種類
                  %td.neme_content
                    - @parents.each do |parent|
                      - if @product.category_id == parent.id
                        -# = link_to "#" do
                        -#   = parent.parent.name
                        = link_to "#" ,class: "category_font" do
                          = parent.name

      .show_main_video_center
        .content_show_video
          = video_tag(@product.image_url.to_s, autoplay: false, muted: true, controls: true, preload: true, class: "main_show_video", id: "main_show_video_preview") if @product.image?
      .products-box__option
        .favorite
          = render 'likes/like', product: @product
        .slow_video
          %button#prev-frame コマ戻り
          %button#next-frame コマ送り
        .optional
          .optional__btn
            = link_to "#", class: "optional__btn__link" do
              = icon('fas', 'flag', class: 'image-icon')
              不適切な動画の通報
      .comments-box
        .message-box
          -if @comments
            -@comments.each do |comment|
              .comments-box__message
                .comments-box__message__products
                  .comments-box__message__products__user
                    .comments-box__message__products__user__name
                      = comment.user.name
                  .comments-box__message__products__body
                    = comment.text
                    .comments-box__message__products__body__icons
                      .comments-box__message__products__body__icons__left
                        = icon('fas', 'history')
                        %span
                          = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                    - if user_signed_in? && current_user.id == @product.user_id
                      .comments-box__message__products__body__icons__right
                        .message-delete
                          = link_to "/products/#{@product.id}/comments/#{comment.id}", method:"delete", id: :delete_btn do
                            = icon('fas', 'trash')

        -if current_user
          .caution-area
            相手のことを考えて丁寧なコメントを心がけましょう。
            %br/
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = form_for [@product, @comment], html: { id: :new_comment } do |f|
            = f.text_area :text, placeholder: "コメントの文字数は250文字まで。",class: "comment-area"
            .comment-btn
              = f.submit "コメントする", class: "comment-btn__submit"
.blank
.main_show_retrun
  = link_to 'トップページ', "/", method: :get, class: "show_main_return_bottun"
= render "products/footer"

