= render "header"
.blank
%main.main
  .contents
    - @products.each do |product|
      .content_post
        %iframe{src: "https://www.youtube.com/embed/#{product.youtube_url}",allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: "", frameborder: "0", height: "315", width: "560"}
      .content_post
        = product.pen_type.value
      .content_post
        = simple_format(product.text)
      .more
        %ul.more_list
          %li
            = link_to '編集', "/products/#{product.id}/edit", method: :get
          %li
            = link_to '削除', "/products/#{product.id}", method: :delete

.main_footer
  = render "footer"
