.navigation
  .products-main
    .products-main_title
      %h2
        更新が完了しました
        .products-done__main__explanation
          = link_to '詳細ページに移動', "/products/#{@product.id}", method: :get, class: "all_return_bottun"
        .products-done__main__explanation
          = link_to "マイページに移動", "/users/#{current_user.id}", class: "all_return_bottun"
        .products-done__main__explanation
          = link_to "トップページに移動", root_path, class: "all_return_bottun"
